.title-first {
    border: 8px solid red;
}
.title-second {
    border: 8px solid red;
}
.title-third {
    border: 8px solid red;
}
.title-fourth {
    border: 8px solid red;
}
.title-fifth {
    border: 8px solid red;
}
.title-sixth {
    border: 8px solid red;
}
.title-seventh {
    border: 8px solid red;
}
.title-eighth {
    border: 8px solid red;
}
.title-ninth {
    border: 8px solid red;
}
.title-tenth {
    border: 8px solid red;
}
.title-eleventh {
    border: 8px solid red;
}

.letters {
    margin: 1px;
}