

<div>
    {{!-- <h2 id="child-name-val">{{data2}}</h2> --}}
    <label for="message-to-admin">Send Urgent Message!</label>
    <input type="text" id="new-message">
    <button id="send-message">Submit</button>
</div>