<h1>Messages from parents</h1>
<div>
    <ul>
        {{#each data3}}
        {{!-- <h2>{{child_name}}</h2> --}}
        <li>{{message_from_parent}}</li>
        {{/each}}
    </ul>
</div>

<a href="../administrator"><button>Go back</button></a>