<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<!-- jQuery file -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<link rel="stylesheet" href="/css/reset.css" type="text/css" />
		<link rel="stylesheet" href="/css/style.css" type="text/css" />
		<title>child-care</title>
		{{!-- <script src="https://code.jquery.com/jquery.js"></script> --}}
		<script src="/java_script/main.js"></script>
	</head>
	<body>
		{{{body}}}
	</body>
</html>